[Unit]
Description=Kanata Keyboard Remapper
Documentation=https://github.com/jtroo/kanata
After=local-fs.target

[Service]
Type=simple
ExecStart=/usr/bin/kanata --cfg %h/.config/kanata/kanata.kbd
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=default.target
